@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --primary:#2ab600;
    --secondary:#0c0c0c88;
    --black:#000000;
    --white:#ffffff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

#menu-btn{
  display: none;
}


section{
  padding: 5rem 7%;
  /*background: ;*/
}

.heading{
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--primary);
  border-radius: .5rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover{
  background: var(--secondary);
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .navbar .btn{
  margin-top: 0;
  color: var(--white);
}

.header .navbar .btn:hover{
  color: var(--white);
}

/* end */
/* home */

.home{
  padding: 0;
}

.home .slide{
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content{
  width: 80rem;
  text-align: center;
}

.home .slide .content h3{
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.1;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--white);
  color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: var(--primary);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

/* end */

/* about */

.about .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
}

.about .row .image{
  flex: 1 1 60rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex: 1 1 50rem;
}

.about .row .content h3{
  font-size: 5rem;
  color: var(--primary);
  padding: 2rem 0;
}

.about .row .content p{
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

/* end */
/* rooms */

.room .slide{
  background: var(--white);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 5rem;
}

.room .slide .image{
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.room .slide .image img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.room .slide .image .price{
  position: absolute;
  top: 2.5rem; left: 2.5rem;
  background: var(--primary);
  color: var(--white);
  font-size: 1.7rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: lowercase;
}

.room .slide .content{
  padding: 2rem;
  padding-top: 0;
  
}

.room .slide .content h3{
  font-size: 2.5rem;
  color: var(--black);
}

.room .slide .content p{
  font-size: 1.6rem;
  color: #666;
  padding: .5rem 0;
  line-height: 1.5;
}
/* end */
/* gallery */

.gallery .slide{
  height: 50rem;
  width: 50rem;
  position: relative;
  overflow: hidden;
  
}

.gallery .slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .slide .icon{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  
}

.gallery .slide .icon i{
  font-size: 6rem;
  color: var(--white);
  margin-bottom: 5rem;
}

.gallery .slide:hover .icon{
  display: flex;
}

/* end */
/* Offer*/

.offer-section {
  padding: 5rem 7%;
  background: #f5f5f5; /* Adjust the background color if needed */
}

.offer-section .heading {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.offer-slider {
  display: flex;
  overflow: hidden;
  margin-bottom: 3rem;
}

.offer .swiper-slide {
  background: var(--white);
  border: 0.1rem solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  margin-bottom: rem;
  width: 300px; /* Ensure consistent width */
}

.offer .image {
  height: 70rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.offer .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer .content {
  padding: 0rem;
  padding-top: 0;
  margin-bottom: 5rem;
}

.offer .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.offer .content p {
  font-size: 1.6rem;
  color: #050505;
  padding: 5 rem ;
  line-height: 2;
  
}

.offer .content p.price{
  text-align: center;
  font-size: 2rem;
  color:var(--primary);
}
/* end */
/* contact */

.contact{
  background:var(--secondary);
  
 
}

.contact .box-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center; 
  vertical-align: middle;
  }

.contact .box-container .box h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--black#333);
}

.contact .box-container .box a{
  font-size: 1.6rem;
  display: block;
  color: var(--white);
  padding: 1rem 0;
}

.contact .box-container .box a i{
  color: var(--primary);
  padding-right: .5rem;
}

.contact .box-container .box a:hover{
  color: var(--primary);
}

.contact .share{
  padding-top: 2rem;
  text-align: center;
}

.contact .share a{
  color: var(--primary);
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: .1rem solid var(--primary);
  margin: .3rem;
}

.contact .share a:hover{
  color: var(--white);
  background: var(--primary);
  transform: rotate(360deg);
}

.contact .credit{
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: .1rem solid rgba(0, 0, 0, 0.3);
  color: var(--white);
}

.contact .credit span{
  color: rgb(255, 255, 255);
}
.contact .box-container .box iframe {
  width: 190%;
  height: 25rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform .3s;
}

.contact .box-container .box iframe:hover {
  transform: scale(1.05);
}


/* end */



/* media queries */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem 3rem;
  }

  #menu-btn{
    display: none;
}

}

@media (max-width: 768px){

  #menu-btn{
      display: inline-block;
  }

  .header .navbar{
      position: absolute;
      top: 110%; right: -110%;
      width: 30rem;
      box-shadow: var(--box-shadow);
      background: var(--white);
      border-radius: .5rem;
  }

  .header .navbar.active{
      right: 2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
  }

  .home .slide .content{
      width: 50rem;
  }

  .review .review-slider{
      width: 100%;
      padding: 1rem;
      padding-top: 15%;
  }

}

@media (max-width: 450px){

  html{
      font-size: 50%;
  }

  .home .slide .content{
      width: 30rem;
  }

  .home .slide .content h3{
      font-size: 3rem;
  }

}
